<!DOCTYPE html>
<html>
  <head>
    <title>Home - To-Do App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="form">
      <form action="/" method="POST">
        <input type="text" name="task" placeholder="Add a task" required />

        <button type="submit">Add</button>
      </form>
    </div>

    <div class="tasks">
      <ul>
        <%if(data.length !== 0){%> <%for(let task of data){%>

        <li>
          <a
            href="/update/<%=task._id%>"
            style="text-decoration: none; color: #333"
            ><%=task.task%></a
          >
        </li>

        <form method="POST" action="/delete">
          <button type="submit" >Delete</button>
          <input type="hidden" name="ID" value="<%=task._id%>" />
        </form>

        <br />
        <%} %> <%}else {%>
        <p style="font-size: 30px">No tasks to display</p>
        <%}%>
      </ul>
    </div>
  </body>
</html>
